<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<div th:fragment="footer">
		<div class="container">
			<footer>
				<span sec:authorize="isAuthenticated()"> | Usuário logado: <span
					sec:authentication="name"></span> | Regras: <span
					sec:authentication="principal.authorities"></span> | <a
					th:href="@{/logout}">Sair</a>
				</span>

				<script type="text/javascript"
					src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

			</footer>
		</div>

	</div>
</body>
</html>