<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
    <div th:replace="views/header :: header-css"/>
</head>
<body>
<div th:replace="views/header :: header"/>
<div class="container">
    <div class="starter-template">
        <h1>Página do usuário (Proteção Spring Security)</h1>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
</div>
<div th:replace="views/footer :: footer"/>
</body>
</html>